<h2> auther/new (GET the new auther)</h2>

<form action="/authors" method="POST">
    <%- include('./_input_field')  %> 
    <a href="/authors">Cancle</a>
    <button type="submit" >Create</button>
</form>